node_modules/
dist/
yarn-error.log
.vscode
.DS_Store

example/manual-testing/data/*
!example/manual-testing/data/index.html
!example/manual-testing/data/animations/
!example/manual-testing/data/images/
!example/manual-testing/data/videos/
