body {
  background: #000;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: flex;
  background-color: #000;
  color: #fff;
  align-items: center;
}

.menu h1 {
  margin-left: 3%;
  font-style: italic;
  font-size: 2em;
  justify-self: flex-end;
}

.App-logo {
  height: 40vmin;
  max-height: 150px;
  pointer-events: none;
  padding-left: 3%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#spinContainer {
  position: absolute;
  padding-bottom: 20px;
}

#processCube {
  width: 200px;
  height: 200px;
}

#results p {
  font-weight: bold;
  margin: 8px 0 15px 0;
  border-bottom: 1px solid;
}

.snippet {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  flex: 1;
  justify-content: flex-end;
  color: #e79f23;
  text-align: right;
  font-weight: bold;
}

.snippet p {
  margin-right: 30px;
}

.snippet a {
  display: flex;
  justify-content: flex-end;
}

#tflogo {
  width: auto;
  height: 80px;
}

.App-link {
  color: #e79f23;
}

#fpInfo {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  border-radius: 15px;
  max-width: 400px;
  padding: 20px;
  font-size: 1.2em;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

#fpInfo h2 {
  border-bottom: 1px solid;
  color: #fff;
  padding-left: 5px;
}

#fpInfo h3 {
  color: #fff;
}

#fpInfo a {
  color: #e79f23;
}

#fpInfo li {
  padding: 0 0 20px 0;
}

.clickTarget {
  cursor: pointer;
}

#underDrop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  background-color: rgba(0,0,0,0.2);
  border-radius: 0 0 15px 15px;
  padding: 0 15px;
}

#switchStation {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
}

#switchStation p {
  padding-right: 10px;
}

.photo-box {
  padding: 20px;
  border-width: 5px;
  border-color: #02bbd7;
  border-style: dashed;
}

.dropped-photo {
  height: 400px;
  max-width: 100%;
}

#predictions {
  min-height: 100px;
}

#predictions ul {
  list-style-type: none;
  padding-right: 10%;
  margin-top: -2%;
  margin-left: -2%;
}

#predictions ul li {
  font-size: 0.8em;
  color: #e79f23;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  background: #000;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

footer ul li {
  display: inline;
  padding: 0 40px;
  font-size: 1em;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
  }
  .snippet {
    visibility: hidden;
    display: none;
  }
  footer {
    overflow: hidden;
    position: relative;
    padding: 40px 0;
  }

  footer ul li {
    display: block;
    padding: 5px 0;
  }

  #switchStation {
    padding-right: 5px;
  }

  #topMessage:after {
    content: ' - On mobile tap to add'
  }

  #predictions {
    padding-top: 10px;
  }

}
